.App {
  margin: 30px auto;
}

.App h1 {
  text-align: center;
  padding: 10px;
  margin: 30px auto;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.App footer {
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  margin: 20px auto;
}

.App footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  transition: all 200ms ease-in-out;
}

.App footer a:hover {
  font-weight: bold;
}
