.Dictionary .SearchResult {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 20px;
  margin: 0 60px;
}

.Dictionary input {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.Dictionary .Example {
  font-size: 14px;
}

.Dictionary .Example::first-letter {
  text-transform: capitalize;
}
