.Dictionary section {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 30px;
  margin: 20px;
}

.Dictionary h2 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.Dictionary input {
  max-width: 400px;
  padding: 6px;
  color: #333;
  margin: 0 auto;
  text-align: center;
}

.Dictionary .hint {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 576px) {
  .Dictionary section {
    margin: 20px 10px;
  }
}
