.Meanings .definition {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px 100px;
}

.Meanings .definition:last-child {
  border-bottom: none;
  padding: 10px;
  margin: 0 100px;
}

@media (max-width: 992px) {
  .Meanings .definition {
    margin: 10px 20px;
  }
  .Meanings .definition:last-child {
    border-bottom: none;
    padding: 10px;
    margin: 0 20px;
  }
}
